{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Денис Фролов</h1>
<section class="about">
  <h3>Приветствую читающего страничку обо мне.</h3>
  <div class="about__story">
    <div>Я сейчас, помимо учебы в Яндекс-практикуме, подрабатываю 
      frontend-разработкой сайтов (правки, сайты с нуля, 
      отдельные блоки, оптимизация, правки в админках CMS).</div>
    <div>У меня есть профессиональное хобби - бильярд.
    </div>
    <div>По "фронту" поработал в нескольких студиях, в первой больше остальных, 
      а также на фрилансе до сих пор. </div>
    <div>Решил пойти в яндекс на учебу для повышения квалификации и 
      дополнительного преимущества при трудоустройстве фронтендером,
      бэкендером или фулстеком.</div>
    <div>После начала курса, рад что узнаю много
      нового и не только технической составляющей профессий.</div>
    </div>
</section>
{% endblock %}